#title_div{
        display:inline-block;
}

#title_background {
        position: relative;
}

#wtf{
        display:inline-block;
        width:100px;
        height:100px;
        border-radius:50px;
        font-size:20px;
        color:#fff;
        line-height:100px;
        text-align:center;
        text-decoration:none;
        background:#000
        }

#wtf:hover{
        color:#ccc;
        text-decoration:none;
        background:#333
}

#download{
        display:inline-block;
        width:100px;
        height:100px;
        border-radius:50px;
        font-size:20px;
        color:#fff;
        line-height:100px;
        text-align:center;
        text-decoration:none;
        background:#000
        }

#download:hover{
        color:#ccc;
        text-decoration:none;
        background:#333
}

#reload{
        display:inline-block;
        width:100px;
        height:100px;
        border-radius:50px;
        font-size:20px;
        color:#fff;
        line-height:100px;
        text-align:center;
        text-decoration:none;
        background:#000
        }

#reload:hover{
        color:#ccc;
        text-decoration:none;
        background:#333
}

#print_it{
        display:inline-block;
        width:100px;
        height:100px;
        border-radius:50px;
        font-size:20px;
        color:#fff;
        line-height:100px;
        text-align:center;
        text-decoration:none;
        background:#000
        }

#print_it:hover{
        color:#ccc;
        text-decoration:none;
        background:#333
}
#print_type{
        display:inline-block;
        width:100px;
        height:100px;
        border-radius:50px;
        font-size:20px;
        color:#fff;
        line-height:100px;
        text-align:center;
        text-decoration:none;
        background:#000
        }

#print_type:hover{
        color:#ccc;
        text-decoration:none;
        background:#333
}