@font-face { font-family: 'ChunkFive-Roman'; src: url('/static/fonts/ChunkFive-Roman.eot?#iefix') format('embedded-opentype'), url('/static/fonts/ChunkFive-Roman.otf') format('opentype'), url('/static/fonts/ChunkFive-Roman.woff') format('woff'), url('/static/fonts/ChunkFive-Roman.ttf') format('truetype'), url('/static/fonts/ChunkFive-Roman.svg#ChunkFive-Roman') format('svg'); font-weight: normal; font-style: normal; }

html, body {
                height: 100%;
                margin: 0;
}

#wrapper {
                min-height: 100%; 
}

#top_div {
        text-align: center;
        width:100%;
}
#mid_div {
        text-align: center;
        width:100%;       
}
#foot_div {
        text-align: center;
        width: 100%;
}
#title_div{
        display:inline-block;
}

#title_background {
        position: relative;
        margin: 0 auto
}

#wtf{
        display:inline-block;
        width:50px;
        height:50px;
        border-radius:50px;
        font-size:20px;
        color:#fff;
        line-height:100px;
        text-align:center;
        text-decoration:none;
        background:#8DA552;
        margin: 0 auto
}

#wtf:hover{
        color:#ccc;
        text-decoration:none;
        background:#333
}

#download{
        display:inline-block;
        width:50px;
        height:50px;
        border-radius:50px;
        font-size:20px;
        color:#fff;
        line-height:100px;
        text-align:center;
        text-decoration:none;
        background:#8DA552;
        margin: 0 auto
}

#download:hover{
        color:#ccc;
        text-decoration:none;
        background:#333
}

#reload{
        display:inline-block;
        width:50px;
        height:50px;
        border-radius:50px;
        font-size:20px;
        color:#fff;
        line-height:100px;
        text-align:center;
        text-decoration:none;
        background:#8DA552;
        margin: 0 auto
}

#reload:hover{
        color:#ccc;
        text-decoration:none;
        background:#333
}

#print_it{
        display:inline-block;
        width:50px;
        height:50px;
        border-radius:50px;
        font-size:20px;
        color:#fff;
        line-height:100px;
        text-align:center;
        text-decoration:none;
        background:#8DA552;
        margin: 0 auto
}

#print_it:hover{
        color:#ccc;
        text-decoration:none;
        background:#333
}
#print_type{
        display:inline-block;
        width:30px;
        height:30px;
        border-radius:50px;
        font-size:20px;
        color:#fff;
        line-height:100px;
        text-align:center;
        text-decoration:none;
        background:#8DA552;
        margin: 0 auto
}

#print_type:hover{
        color:#ccc;
        text-decoration:none;
        background:#333
}