img {
    display: none;
    margin: 0 auto;
}

#top_div {
    display: none;
}
#mid_div {
        text-align: left; 
}
#foot_div {
        display: none;
}
#title_div{
        display: none;
}

#title_background {
        display: none;
}

#pareidolia {
        /*padding: 1px;*/
        float:left;
        position: relative;
        display: inline-block;
        width: 1000px;
        height: 1400px;
}

#wtf{
        display: none;
}

#wtf:hover{
        display: none;
}

#download{
        display: none;
}

#download:hover{
        display: none;
}

#reload{
       display: none;
}

#reload:hover{
        display: none;
}

#print_it{
       display: none;
}

#print_it:hover{
        display: none;
}
#print_type{
        display: none;
}

#print_type:hover{
        display: none;
}