@font-face { font-family: 'ChunkFive-Roman'; src: url('../fonts/ChunkFive-Roman.eot?#iefix') format('embedded-opentype'), url('../fonts/ChunkFive-Roman.otf') format('opentype'), url('../fonts/ChunkFive-Roman.woff') format('woff'), url('../fonts/ChunkFive-Roman.ttf') format('truetype'), url('../fonts/ChunkFive-Roman.svg#ChunkFive-Roman') format('svg'); font-weight: normal; font-style: normal; }

html, body {
                height: 100%;
                margin: 0;
}

img {
    display: none;
    margin: 0 auto;
}

#top_div {
        margin: auto;
        text-align: center;
        width:100%;
}
#mid_div {
        text-align: center;
        direction: block;
        width:100%;       
}
#foot_div {
        text-align: center;
        width: 100%;
}
#title_div{
        display:inline-block;
}

#title_background {
        margin: 0 auto
}

#pareidolia {
        padding: 1px;
}

#wtf{
        display:inline-block;
        width:80px;
        height:80px;
        border: 0px;
        border-radius:50px;
        font-size:40px;
        color:#fff;
        text-align:center;
        text-decoration:none;
        margin: 15px
}

#wtf:hover{
        color:#ccc;
        text-decoration:none;
        background:#333
}

#download{
        display:inline-block;
        width:80px;
        height:80px;
        border-radius:50px;
        border: 0px;
        font-size:20px;
        color:#fff;
        text-align:center;
        text-decoration:none;
        background:#8DA552;
        margin: 15px
}

#download:hover{
        color:#ccc;
        text-decoration:none;
        background:#333
}

#reload{
        display:inline-block;
        width:80px;
        height:80px;
        border-radius:50px;
        border: 0px;
        font-size:20px;
        color:#fff;
        text-align:center;
        margin: 15px
}

#reload:hover{
        color:#ccc;
        text-decoration:none;
        background:#333
}

#print_it{
        display:inline-block;
        width:80px;
        height:80px;
        border-radius:50px;
        border: 0px;
        font-size:20px;
        color:#fff;
        text-align:center;
        text-decoration:none;
        margin: 15px
}

#print_it:hover{
        color:#ccc;
        text-decoration:none;
        background:#333
}
#print_type{
        display:inline-block;
        width:30px;
        height:30px;
        border: 0px;
        border-radius:50px;
        font-size:15px;
        color:#fff;
        text-align:center;
        text-decoration:none;
        background:#8DA552;
        margin: 0 auto
}

#print_type:hover{
        color:#ccc;
        text-decoration:none;
        background:#333
}