@font-face {
    font-family: 'Conv_Anothershabby_trial';
    src: url('../fonts/Anothershabby_trial.eot');
    src: local('☺'), url('../fonts/Anothershabby_trial.woff') format('woff'), url('../fonts/Anothershabby_trial.ttf') format('truetype'), url('../fonts/Anothershabby_trial.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
}

input[type=range]{
  -webkit-appearance: none;
  background: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-ms-track {
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-moz-range-track {
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #C3EB98;
  margin-top: -5px;
  position: relative;
}

input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #C3EB98;
  margin-top: -5px;
  position: relative;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #C3EB98;
  margin-top: -5px;
  position: relative;
}

input[type=range]:focus {
  outline: none;
  &::-webkit-slider-thumb:after {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background: #eee;
    border-radius: 5px;
    color: #C3EB98;
    padding: 5px 10px;
    border: 2px solid #C3EB98;
  }
  &::-ms-thumb:after {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background: #eee;
    border-radius: 5px;
    color: #C3EB98;
    padding: 5px 10px;
    border: 2px solid #C3EB98;
  }
  &::-moz-range-thumb:after {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background: #eee;
    border-radius: 5px;
    color: #C3EB98;
    padding: 5px 10px;
    border: 2px solid #C3EB98;
  }
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

input[type=range]:focus::-ms-track {
  background: #ccc;
}

input[type=range]:focus::-moz-range-track {
  background: #ccc;
}

img {
    margin: 0 auto;
}

#top_div {
    margin: 0 auto;
    text-align: center;
    width:100%;
}
#mid_div {
    text-align: center;
    direction: block;
    width:100%;
}
#foot_div {
    text-align: center;
    display: inline-block;
    font-family: 'Helvetica';
    font-size: 15px;
    margin: auto;
    vertical-align: text-bottom;
    width: 100%;
}
#title_div{
    display:inline-block;
}

#title_background {
    display: inline-block;
    letter-spacing: 2.5px ;
    font-family: "ChunkFive-Roman";
    font-size: 35px;
    color: #FFF6E4 ;
    margin: auto;
    margin-bottom: 1em;
    vertical-align: text-bottom;
}

#pareidolia {
    display: inline-block;
    /*margin: auto;*/
    padding: 30px;
    vertical-align: text-bottom;
    padding: 10px;
    border-width : 2px;
    background-color: #ffffff ;
    border-color: #000000 
}

#wtf{
        display:inline-block;
        width:80px;
        height:80px;
        border: 0px;
        border-radius:50px;
        font-size:40px;
        color:#fff;
        text-align:center;
        text-decoration:none;
        margin: 15px;
        visibility: hidden;
}

#wtf:hover{
        color:#ccc;
        text-decoration:none;
        background:#333
}

#download{
        display:inline-block;
        width:80px;
        height:80px;
        border-radius:50px;
        border: 0px;
        font-size:20px;
        color:#fff;
        text-align:center;
        text-decoration:none;
        background:#8DA552;
        margin: 15px;
        visibility: hidden;
}

#download:hover{
        color:#ccc;
        text-decoration:none;
        background:#333
}

#reload{
        display:inline-block;
        width:80px;
        height:80px;
        border-radius:50px;
        border: 0px;
        font-size:20px;
        color:#fff;
        text-align:center;
        visibility: hidden;
        margin: 15px;
}

#reload:hover{
        color:#ccc;
        text-decoration:none;
        background:#333
}

#print_it{
        display:inline-block;
        width:80px;
        height:80px;
        border-radius:50px;
        border: 0px;
        font-size:20px;
        color:#fff;
        text-align:center;
        visibility: hidden;
        text-decoration:none;
        margin: 15px;
}

#print_it:hover{
        color:#ccc;
        text-decoration:none;
        background:#333
}